<?xml version="1.0" encoding="utf-8"?>
<modsCollection xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd" xmlns="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <mods version="3.6">


    {# Title Info #}

    <titleInfo>
      <title>{{ field_title }}</title>
    {% if field_subtitle is defined %}
      <subtitle>{{ field_subtitle }}</subtitle>
    {% endif %}
    </titleInfo>
    {% if field_uniform is defined %}
    <titleInfo type="uniform">
       <title>{{ field_uniform }}</title>
    </titleInfo>
    {% endif %}
    {% if field_alternate is defined %}
    <titleInfo type ="alternative">
      {% for altitem in field_alternative %}
        <title>{{ altitem }}</title>
      {% endfor %}
    </titleInfo>
    {% endif %}


    {# Name/Creator Info #}

    {% for name in field_creator_info %}
      {% if field_creator_person_lcnaf is defined %}
      <name authority = "lcnaf" type = "personal">
        <namePart>{{ field_creator_person_lcnaf }}</namePart>
        <role>
          <roleTerm type="text">{{ field_creator_role }}</roleTerm>
        </role>
      </name>
      {% endif %}
      {% if field_creator_person_local is defined %}
      <name authority ="local" type = "personal">
        <namePart>{{ field_creator_local }}</namePart>
        <role>
          <roleTerm type="text">{{ field_creator_role }}</roleTerm>
        </role>
      </name>
      {% endif %}
      {% if field_creator_corporate_name_lcnaf is defined %}
      <name authority = "lcnaf" type="corporate">
        <namePart>{{ field_creator_corporate_name_lcnaf }}</namePart>
      </name>
      {% endif %}
      {% if field_creator_corporate_name_local is defined %}
      <name authority = "lcnaf" type="corporate">
        <namePart>{{ field_creator_corporate_name_local }}</namePart>
      </name>
      {% endif %}
      {% if field_conference_name is defined %}
      <name type ="conference">
        <namePart>{{ field_conference_name }}</namePart>
      </name>
      {% endif %}
      {% endfor %}


      {# Origin/Publication Info #}

      <originInfo eventType = "creation">
        <place>
          {% for place in field_origin_info %}
          <placeTerm type="text">{{ place }}</placeTerm>
          {% endfor %}
        </place>
        <dateCreated>{{ field_date_created }}</dateCreated>
      </originInfo>
      {% if field_place_term is defined %}
      <originInfo type = "publication">
        <place>
          <placeTerm type="text"> {{ field_place_term }} </placeTerm>
        </place>
        {% if field_publisher is defined %}
        <publisher>{{ field_publisher }}</publisher>
        {% endif %}
        {% if field_date_published is defined %}
        <dateIssued>{{ field_date_published }}</dateIssued>
        {% endif %}
        {% if field_edition is defined %}
        <edition>{{ field_edition }}</edition>
        {% endif %}
        {% if field_issuance is defined %}
        <issuance>{{ field_issuance }}</issuance>
        {% endif %}
      </originInfo>
      {% endif %}

      {# Type Of Resource #}
      <typeOfResource>{{ field_resource_type}}</typeOfResource>

      {# Genre #}
      <genre>{{ field_genre }}</genre>

      {# Physical Description #}
      <physicalDescription>
        <extent>
          {{ field_extent }}
          {% if field_physical_details is defined %}{{field_physical_details}}{% endif %}
          {% if field_dimensions is defined %}{{field_dimensions}}{% endif %}
          {% if field_details is defined %} {{ field_details }}{% endif %}
          {% if field_version is defined %} {{ field_version }} {% endif %}
        </extent>
      </physicalDescription>

      {# Language #}
      <language>
        {% for lang in field_languages %}
        <languageTerm type= "text">{{ title }}</languageTerm>
        <languageTerm type="code">{{ field_language_code }}</languageTerm>
        {% endfor %}
      </language>

      {# Abstract #}
      <abstract>{{ field_abstract }} </abstract>

      {# Table of Contents #}
      {% if field_table_of_contents is defined %}
      <tableofContents>{{ field_table_of_contents }}</tableofContents>
      {% endif %}


      {# Notes #}
      {% if field_rights_statement is defined %}
      <note type="rights">{{ field_rights_statement }}</note>
      {% endif %}
      {% if field_note is defined %}
      <note>{{ field_note }}</note>
      {% endif %}
      {% if field_internal_note is defined %}
      <note type="internal">{{ field_internal_note }}</note>
      {% endif %}


      {# Geographic Subjects #}
      {% if field_geographic_code is defined %}
      <subject>
        <geographicCode authority="marcgac">{{ field_geographic_code }}</geographicCode>
      </subject>
      {% endif %}
      <subject>
        <cartographics>
          {% if field_scale is defined %}
          <scale>{{ field_scale }}</scale>
          {% endif %}
          {% if field_projection is defined %}
          <projection>{{ field_projection }}</projection>
          {% endif %}
          {% if field_bounding_box is defined %}
          <coordinates>{{ field_bounding_box }}</coordinates>
          {% endif %}
        </cartographics>
      </subject>
      
      {# Temporal Coverage #}
      {% if field_date_coverage is defined %}
      <subject>
          <temporal>{{ field_data_coverage }}</temporal>
      </subject>  

        {# Other Subjects #}
        {% for subject in field_subject %}
        <subject authority="lcsh">
          <topic>{{ subject }}</topic>
        </subject>
        {% endfor %}
        {% for keyword in field_keywords %}
        <subject>
          <topic>{{ keyword }}</topic>
        </subject>
        {% endfor %}

        {# Identifiers #}
        <identifier type="local">{{ field_local_identifier }}</identifier>
        {% if field_url is defined %}
        <location>
          <url> {{ field_url}} </url>
        </location>
        {% endif %}
        {% if field_lccn is defined %}
        <identifier type="lccn">{{ field_lccn }}</identifier>
        {% endif %}
        {% if field_isbn is defined %}
        <identifier type="isbn">{{ field_isbn }}</identifier>
        {% endif %}
        {% if field_issn is defined %}
        <identifier type="issn">{{ field_issn }}</identifier>
        {% endif %}
        {% if field_oclc_number is defined %}
        <identifier type="oclc">{{ field_oclc_number }}</identifier>
        {% endif %}

        {# Related Items #}
        {% if field_related_item is defined %}
        {% for rel in field_related_item %}
        <relatedItem>
          <titleInfo>
            <title>{{ title }}</title>
          </titleInfo>
          <location>
            <url>{{ url }} </url>
          </location>
        </relatedItem>
        {% endfor %}
        {% endif %}

        {# Record Info #}
        <recordInfo>
          <recordCreationDate>{{ field_date_record_created}}</recordCreationDate>
          {% for change in field_date_record_changed %}
          <recordChangeDate>{{ change }}</recordChangeDate>
          {% endfor %}
        </recordInfo>



   </mods>
</modsCollection>
