<?xml version="1.0" encoding="utf-8"?>
<modsCollection xsi:schemaLocation="http://www.loc.gov/mods/v3 http://www.loc.gov/standards/mods/v3/mods-3-6.xsd" xmlns="http://www.loc.gov/mods/v3" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <mods version="3.6">
    <titleInfo>
      <title>{{ title }}</title>
    </titleInfo>
    <typeOfResource>{{ typeResource }}</typeOfResource>
    {% for item in note %}
        <note>{{ item }}</note>
    {% endfor %}
    {% for g in genre  %}
      {% set att ='' %}
      {% for k, v in g['attributes'].iteritems() %}  
        {{ k }}={{v}}
        {% set   att = '{{ att }} {{k}}="{{v}}" ' %}
      {% endfor %}
      <genre {{ att }} >{{ g['value'] }}</genre>
    {% endfor %}
    {% for item in subject %}
      <subject>
      {% if item['geographicCode'] is defined %}
        <geographicCode authority="marcgac">n-us-ok</geographicCode>
      {% endif %}
      {% if item['cartographics'] is defined %}
        {% for cartitem in item['cartographics'] %}
          {% if cartitem['scale'] is defined %}
            <scale>{{ cartitem['scale'] }}</scale>
          {% endif %}
          {% if cartitem['scale'] is defined %}
            <projection>{{ cartitem['projection'] }}</projection>
          {% endif %}

        {% endfor %}
      {% endif %}
      </subject>
    {% endfor %}
   </mods>
</modsCollection>
